<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/first.css'%}"/>
</head>


    <h1> this is my first ever template in django</h1>
    <a href="http://phitron.io"> this is a link</a>
    <img src="{% static 'images/gg.jpg' %}" alt="Nature Image"/>
    <img src="{% get_static_prefix  %}images/IMG_20230312_204257_234.jpg" alt="Nature Image"/>

    <script src="{% static 'js/index.js'%}"> </script>
<body>
    
</body>
</html>