<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'first_app/css/first.css'%}"/>
</head>
<body>
    <h1>we are inside app</h1>
    {% comment %} <h1>Author name: {{author}}</h1>
    {% if age >= 18 %}
    <p>Available</p>
    {% else %}
    <p>not possible</p>
    {% endif %} {% endcomment %}
    <table border="1" width=500>
        <tr>
            <th>ID</th>
            <th>Courses</th>
            <th>Teacher</th>
        </tr>
        {%for i in courses%}
        <tr>
            <td>{{i.id}}</td>
            <td>{{i.course}}</td>
            <td>{{i.teacher}}</td>
        </tr>
        {% endfor %}
    </table>
    <img src="{% static 'first_app/images/me.jpg' %}" alt="Nature Image"/>

</body>
</html>